/* Reset default styles and set the font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, 'Source Sans Pro';
}

a {
    text-decoration: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #0d84aa; 
}

.container {
    width: 360px;
    height: 450px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #3A3A3A;
}


form {
    grid-column: 1 / 2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
        color :#D0D0D0;
        margin-top:27px;
        margin-bottom: 10px;
}

.input-field {
    width: 280px;
    height: 50px;
    border-bottom: 2px solid #999;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.input-field i {
    flex: 1;
    text-align: center;
    font-size: 20px;
    color: #999;
}

.input-field input {
    flex: 5;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #f0f0f0;
    font-weight: 600;
}

a {
    font-size: 14px;
    color: #999;
}

p {
    color : #999;
    font-size: 16px;
}

.forgot-password {
    align-self: flex-start;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 17px;
    color: #00c1ff;
}

.btn {
    width: 170px;
    height: 40px;
    background: none;
    outline: none;
    border: 2px solid #999;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
    margin-top: 30px;
    margin-bottom: 21px;
    color: #999;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    color: #333;
    border: none;
    background: #ff5e00;
}

.account-text {
    color: #00c1ff;
    font-size: 16px;
}

