* {
	margin: 0;
	padding: 0;
}

body {
    background-color: #1f2937;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #0d84aa; 
  }

form { 
    width: 300px;
    height: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #3A3A3A;
}

h1 {
    font-family: Inter, 'Source Sans Pro';
    color :#D0D0D0;
    margin-top:10px;
    margin-bottom: 10px;
}

input {
    font-family: Inter, 'Source Sans Pro';
    width: 270px;
    height: 48px;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
}
img {
    max-width: 12%;
}

.email {
    position: relative;
    font-size: 20px;
    bottom: 185px;
    right: 10px;
    font-family: Inter, 'Source Sans Pro';
    opacity: 52%;
}

.email-img {
    position: relative;
    bottom: 62px;
    right: 105px;
    max-width: 10%;
    opacity: 52%;
}